<h2 class="mb-10 text-3xl md:text-4xl">Equipments Management</h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-md font-semibold text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <ng-template ngFor let-column [ngForOf]="columns">
          <th
            *ngIf="column.dataIndex === 'name'"
            scope="col"
            class="px-6 py-3 w-96"
          >
            {{ column.title }}
          </th>
          <th *ngIf="column.dataIndex !== 'name'" scope="col" class="px-6 py-3">
            {{ column.title }}
          </th>
        </ng-template>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="dataSource">
        <tr>
          <ng-template ngFor let-column [ngForOf]="columns" let-index="index">
            <td *ngIf="column.dataIndex === 'action'" class="px-6 py-4">
              <div class="flex items-center gap-2">
                <a
                  [routerLink]="['/equipments/edit', data['id']]"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                  >Edit</a
                >

                <button
                  class="font-medium text-red-600 dark:text-red-500 hover:underline"
                  (click)="removeEquipment(data['id'])"
                >
                  Remove
                </button>
              </div>
            </td>
            <ng-container *ngIf="column.dataIndex !== 'action'">
              <th
                *ngIf="index === 0"
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ data[column.dataIndex] }}
              </th>
              <td
                *ngIf="index !== 0 && column.dataIndex !== 'photo'"
                class="px-6 py-4"
              >
                {{ data[column.dataIndex] }}
              </td>
              <td
                *ngIf="index !== 0 && column.dataIndex === 'photo'"
                class="px-6 py-4"
              >
                <img [src]="data[column.dataIndex]" alt="" class="h-20" />
              </td>
            </ng-container>
          </ng-template>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<div class="mt-2 text-center">
  <nav aria-label="Page navigation example">
    <ul class="inline-flex items-center -space-x-px">
      <li>
        <a
          (click)="prevPage()"
          class="cursor-pointer block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          [class]="
            pagingData?.hasPrevious
              ? 'cursor-pointer '
              : 'cursor-default opacity-50 hover:bg-white hover:text-gray-500'
          "
        >
          <span class="sr-only">Previous</span>
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>
      <li *ngFor="let page of pages">
        <a
          [routerLink]="['../table']"
          [queryParams]="{ pageNumber: page }"
          class="px-3 py-2 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          [class]="
            page === pagingData?.['currentPage'] ? 'bg-blue-200' : 'bg-white'
          "
          >{{ page }}</a
        >
      </li>

      <li>
        <a
          (click)="nextPage()"
          class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          [class]="
            pagingData?.hasNext
              ? 'cursor-pointer '
              : 'cursor-default opacity-50 hover:bg-white hover:text-gray-500'
          "
        >
          <span class="sr-only">Next</span>
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
