<h3 class="mb-5 font-medium text-xl md:text-2xl">Employee information</h3>
<div *ngIf="employee">
  <div class="flex gap-4 mb-6">
    <figure class="w-20">
      <img [src]="employee['imageUrl']" alt="Avatar" class="w-full" />
    </figure>
    <div class="flex flex-col justify-center">
      <div>
        <strong>Equipment ID: </strong>
        <i>{{ employee["id"] }}</i>
      </div>
      <div>
        <strong>Full name: </strong>
        <i>{{ employee["fullName"] }}</i>
      </div>
      <div>
        <strong>Email: </strong>
        <i>{{ employee["email"] }}</i>
      </div>
      <div>
        <strong>Phone: </strong>
        <i>{{ employee["phoneNumber"] }}</i>
      </div>
      <div>
        <strong>Role: </strong>
        <i>{{ employee["roleName"].join() }}</i>
      </div>
    </div>
  </div>
</div>

<div class="mb-10"></div>

<h3
  *ngIf="borrowings && borrowings.length > 0"
  class="mb-5 font-medium text-xl md:text-2xl"
>
  Borrowed equipments
</h3>
<div
  *ngIf="borrowings && borrowings.length > 0"
  class="relative overflow-x-auto shadow-md sm:rounded-lg border"
>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Brand</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Return Date</th>
        <th scope="col" class="px-6 py-3" *ngIf="isAdmin()">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let borrowing of borrowings; index as i"
        [class]="
          i % 2 === 0
            ? 'bg-white dark:bg-gray-900 dark:border-gray-700'
            : 'bg-gray-50 dark:bg-gray-800 dark:border-gray-700'
        "
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ borrowing["id"] }}
        </th>
        <td class="px-6 py-4">{{ borrowing["equipmentName"] }}</td>
        <td class="px-6 py-4">{{ borrowing["deviceTypeName"] }}</td>
        <td class="px-6 py-4">{{ borrowing["equipmentBrandName"] }}</td>
        <td class="px-6 py-4">
          {{ borrowing["concreteEquipmentPrice"] }}
        </td>
        <td class="px-6 py-4">
          <span
            *ngIf="borrowing['statusOfConcreteEquipmentName'] === 'Available'"
            class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400"
          >
            {{ borrowing["statusOfConcreteEquipmentName"] }}
          </span>
          <span
            *ngIf="borrowing['statusOfConcreteEquipmentName'] === 'Borrowed'"
            class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300"
          >
            {{ borrowing["statusOfConcreteEquipmentName"] }}
          </span>
        </td>
        <td class="px-6 py-4">{{ borrowing["returnDate"] }}</td>
        <td class="px-6 py-4" *ngIf="isAdmin()">
          <button
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            type="button"
            (click)="onOpen(borrowing['id'])"
          >
            Revoke
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mb-10"></div>

<h3 class="my-5 font-medium text-xl md:text-2xl">Equipments to borrow</h3>

<app-equipment-table [isTableToAssign]="true"></app-equipment-table>

<!-- Modal -->
<div
  [class.hidden]="!openModal"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-50 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-lg font-semibold leading-6 text-gray-900 mb-3"
                id="modal-title"
              >
                Revoke this equipment?
              </h3>
              <div class="mt-2">
                <div class="relative max-w-sm"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:px-6 gap-2 justify-end">
          <button
            type="button"
            class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto"
            (click)="RevokeThisConcreteEquipment()"
          >
            Revoke
          </button>

          <button
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
            (click)="onClose()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
