<h2 *ngIf="!employeeId" class="mb-10 font-medium text-3xl md:text-4xl">
  <span>Concrete equipments</span>
</h2>
<div *ngIf="equipment" id="equipment-model">
  <h2 class="mb-4 text-xl md:text-2xl">
    {{ equipment.name }}
  </h2>
  <div class="flex gap-4">
    <img
      [src]="baseURL + equipment.imageUrl"
      [alt]="equipment.name"
      class="w-96 border rounded"
    />
    <div class="flex flex-col justify-center">
      <div>
        <strong>Equipment ID: </strong><span>{{ equipment.id }}</span>
      </div>
      <div>
        <strong>Type: </strong
        ><span>{{ equipment.equipmentBrandDeviceTypeName }}</span>
      </div>
      <div>
        <strong>Brand: </strong><span>{{ equipment.equipmentBrandName }}</span>
      </div>
      <div>
        <strong>Create at: </strong><span>{{ equipment.createdAt }}</span>
      </div>
      <div>
        <strong>Update at: </strong><span>{{ equipment.updatedAt }}</span>
      </div>
      <div>
        <p>
          {{ equipment.specifications }}
        </p>
      </div>
    </div>
  </div>
</div>

<div id="new-equipment-concrete" class="mt-4">
  <div class="mb-6 mr-2 inline-block">
    <label
      for="price"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white sr-only"
      >Price</label
    >
    <input
      [(ngModel)]="price"
      type="number"
      id="price"
      max="1000000000"
      min="1000"
      placeholder="price"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <button
    (click)="addConcrete()"
    type="button"
    class="col-span-2 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
  >
    Add concrete
  </button>
</div>

<div
  *ngIf="concreteEquipments && concreteEquipments.length > 0"
  id="equipment-concrete-table"
  class="mt-6"
>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Create at</th>
          <th scope="col" class="px-6 py-3">Update at</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-template
          ngFor
          let-concrete
          [ngForOf]="concreteEquipments"
          let-index="index"
        >
          <tr
            [class]="
              index % 2 === 0
                ? 'bg-white border-b dark:bg-gray-900 dark:border-gray-700'
                : 'border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700'
            "
          >
            <td class="px-6 py-4">
              {{ concrete["id"] }}
            </td>
            <td class="px-6 py-4">
              {{ concrete["price"] | currency }}
            </td>
            <td class="px-6 py-4">
              <span
                *ngIf="
                  concrete['statusOfConcreteEquipmentName'] === 'Available'
                "
                class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >
                {{ concrete["statusOfConcreteEquipmentName"] }}
              </span>
              <span
                *ngIf="concrete['statusOfConcreteEquipmentName'] === 'Borrowed'"
                class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300"
              >
                {{ concrete["statusOfConcreteEquipmentName"] }}
              </span>
            </td>
            <td class="px-6 py-4">
              {{ concrete["createdAt"] }}
            </td>
            <td class="px-6 py-4">
              {{ concrete["updatedAt"] }}
            </td>
            <td class="px-6 py-4">
              <button
                *ngIf="!employeeId"
                class="font-medium text-red-600 dark:text-red-500 hover:underline"
                (click)="removeConcreteEquipment(concrete['id'])"
              >
                Remove
              </button>

              <div *ngIf="employeeId">
                <button
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                  type="button"
                  (click)="onOpen(concrete['id'])"
                >
                  Assign it
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  [class.hidden]="!openModal"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-50 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-lg font-semibold leading-6 text-gray-900 mb-3"
                id="modal-title"
              >
                Assign a concrete equipment
              </h3>
              <div class="mt-2">
                <div class="relative max-w-sm">
                  <input
                    type="date"
                    (change)="onDatePickerChange($event)"
                    [value]="getToday()"
                    [min]="getToday()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:px-6 gap-2 justify-end">
          <button
            type="button"
            class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto"
            (click)="assignAConcreteEquipment()"
          >
            Assign
          </button>

          <button
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
            (click)="onClose()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
