<aside
  class="h-full sidebar w-48 -translate-x-full transform bg-white p-4 transition-transform duration-150 ease-in md:translate-x-0 md:shadow-md"
>
  <div class="my-4 w-full border-b-4 border-indigo-100 text-center">
    <span class="font-mono text-xl font-bold tracking-widest">
      <a routerLink="/">
        <img
          src="../../../assets/images/tma-logo.png"
          class="mr-3 h-6 sm:h-9"
          alt="Flowbite Logo"
        />
      </a>
    </span>
  </div>
  <div class="my-4"></div>

  <!-- Menu -->
  <ul class="space-y-2">
    <li>
      <a
        routerLink="dashboard"
        [ngClass]="
          selectedTab === 'dashboard'
            ? 'bg-gray-500 hover:bg-gray-500 text-white'
            : ''
        "
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          [ngClass]="
            selectedTab === 'dashboard'
              ? 'bg-gray-500 hover:bg-gray-500 text-white'
              : ''
          "
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
          <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
        </svg>
        <span class="ml-3">Dashboard</span>
      </a>
    </li>
    <li>
      <a
        routerLink="equipments"
        [ngClass]="
          selectedTab === 'equipments'
            ? 'bg-gray-500 hover:bg-gray-500 text-white'
            : ''
        "
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          [ngClass]="
            selectedTab === 'equipments'
              ? 'bg-gray-500 hover:bg-gray-500 text-white'
              : ''
          "
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
          ></path>
        </svg>
        <span class="flex-1 ml-3 whitespace-nowrap">Equipments</span>
      </a>
    </li>

    <li>
      <a
        routerLink="employees"
        [ngClass]="
          selectedTab === 'employees'
            ? 'bg-gray-500 hover:bg-gray-500 text-white'
            : ''
        "
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          [ngClass]="
            selectedTab === 'employees'
              ? 'bg-gray-500 hover:bg-gray-500 text-white'
              : ''
          "
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="flex-1 ml-3 whitespace-nowrap">Employees</span>
      </a>
    </li>

    <li>
      <a
        routerLink="assignments"
        [ngClass]="
          selectedTab === 'assignments'
            ? 'bg-gray-500 hover:bg-gray-500 text-white'
            : ''
        "
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          [ngClass]="
            selectedTab === 'assignments'
              ? 'bg-gray-500 hover:bg-gray-500 text-white'
              : ''
          "
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
          />
        </svg>

        <span class="flex-1 ml-3 whitespace-nowrap">Assignments</span>
      </a>
    </li>

    <li *ngIf="isLoggedIn">
      <a
        routerLink="logout"
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
      </a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a
        routerLink="auth/login"
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="flex-1 ml-3 whitespace-nowrap">Login</span>
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a
        routerLink="auth/register"
        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="flex-1 ml-3 whitespace-nowrap">Register</span>
      </a>
    </li>
  </ul>
</aside>
